<%- include('../partials/boilerplate') %>

<div class="editContent">
    <div class="singleWorkouts">
        <div class="editForm">
            <form class="editForm" method='POST' action='/schedule/<%= workout.id %>?_method=PUT'>
                <h1>Date</h1>
                <input name='date' type='date' value='<%= moment(workout.date).format('YYYY-MM-DD') %>' required />
                <h1>Split</h1>
                <input name='split' type='text' value='<%= workout.split %>' />
                <h1>Exercise</h1>
                <input name='exercises' type='text' value='<%= workout.exercises %>'>
                <h1>Notes</h1>
                <textarea name='notes' type='text' placeholder='Notes'><%= workout.notes %></textarea>
                <% if(workout.status) { %>
                <h1>Complete</h1>
                <% } else { %>
                <h1>Complete</h1>
                <% } %>
                <select name='status'>
                    <option value='true'>Mark as Complete</option>
                    <option value='false'>Mark as Incomplete</option>
                </select>
                <input type='submit' value='Update' />
            </form>
        </div>
        <form class="backButton" method="GET" action="/schedule/<%=workout.id%>/">
            <input type="submit" value="Back">
        </form>
    </div>
</div>



<%- include('../partials/end') %>