<%- include('../partials/boilerplate') %>

<div class=scheduleContent>
    <div class='newWorkoutContent'>
        <h1>Hello</h1>
        <form class=addWorkout method='POST' action='/schedule'>
            <input name='date' type='date' placeholder='Date' />
            <input name='split' type='text' placeholder='Split' />
            <input name='exercises' type='text' placeholder='Exercises'>
            <input name='notes' type='text' placeholder='Notes'>
            <input type='submit' value='Submit' />
        </form>
    </div>

    <div class="fullSchedule">
        <h1>Schedule</h1>
        <% workouts.forEach(workout => {  %>
        <div class="singleWorkouts">
            <div class="date">
                <h3><%= workout.id %> </h3>
                <h3><a href='/schedule/<%= workout.id%>/'><%= workout.date %></h3>
            </div>
            <div class="split">
                <h3><%= workout.split %></h3>
            </div>
            <!-- <div class="workoutContent">
                <h3><%= workout.exercises %></h3>
                <h3><%= workout.notes %></h3>
            </div> -->
            <div class="status"><% if (workout.status) { %>
                Completed
                <% } else { %>
                Incomplete
                <% } %>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/end') %>