<%- include('../partials/boilerplate') %>

<div class="singleWorkout">
    <div class="date">
        <h3>Date: <%= workout.date%></h3>
    </div>
    <div class="split">
        <h3>Split: <%= workout.split%></h3>
    </div>
    <div class="workoutContent">
        <h3 class="singleExercise">Exercises: <%= workout.exercises%></h3>
        <h3 class="singleNotes">Notes: <%= workout.notes%></h3>
    </div>
    <div class="status">
        <h3><% if (workout.status) { %>
            Completed
            <% } else { %>
            Incomplete
            <% } %>
        </h3>
    </div>
    <div class=options>
        <form class="button" method="POST" action="/schedule/<%= workout.id%>?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form class="button" method="GET" action="/schedule/<%= workout.id%>/edit">
            <input type="submit" value="Edit">
        </form>
        <form class="button" method="GET" action="/user/schedule/">
            <input type="submit" value="Back">
        </form>
    </div>
</div>


<%- include('../partials/end') %>