<%- include('../partials/boilerplate') %>

<div class="singleWorkout">
    <div class="date">
        <h3 class="dateText">Date: <%= moment(workout.date).format("MMM Do YYYY")%></h3>
    </div>
    <div class="workoutContent">
        <h3><b>Split:</b> <%= workout.split%></h3>
        <h3><b>Exercises:</b></h3>
        <h3 class="singleExercise"><%= workout.exercises%></h3>
        <h3><b>Notes:</b></h3>
        <h3 class="singleNotes"><%= workout.notes%></h3>
        <h3><% if (workout.status) { %>
            Completed
            <% } else { %>
            Incomplete
            <% } %>
        </h3>
    </div>
    <div class=options>
        <form class="button" method="POST" action="/schedule/<%= workout.id%>?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form class="button" method="GET" action="/schedule/<%= workout.id%>/edit">
            <input type="submit" value="Edit">
        </form>
        <form class="button" method="GET" action="/user/schedule/">
            <input type="submit" value="Back">
        </form>
    </div>
</div>


<%- include('../partials/end') %>