<%- include('./partials/boilerplate') %>

<div class="userPage">
    <div class="userContent">
        <h1 class="welcomeUser">Welcome <%= user.name %></h1>
        <div class="picCrop">
            <img class="proPic"
                src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=720&q=80">
        </div>
        <div class="userInfo">
            <ul class="infoList">
                <li>About: <%= user.about %> </li>
                <li>Birthday: <%= moment(user.birthday).format("MMM Do YYYY") %> </li>
                <li>Location: <%= user.location %></li>
                <li>Hobbies: <%= user.hobbies %> </li>
            </ul>
            <button class="editButton">edit</button>
        </div>
    </div>
    <div class="editContainer none">
        <div class="editBox">
            <h1>Edit Profile</h1>
            <form class="editField" method='POST' action='/user/<%=user.id %>?_method=PUT'>
                <input id="name" name='name' type='text' value='<%= user.name %>' required />
                <input name='location' type='text' value=' <%= user.location %>' required />
                <textarea name='about' type='about'><%= user.about %></textarea>
                <textarea name='hobbies' type='hobbies'><%= user.hobbies %></textarea>
                <div class="editOptions">
                    <input class="updateButton" type='submit' value='Update' />
                    <input class="backButton editBack" type=button value='Back' action="/user/">
                </div>
            </form>
        </div>

    </div>
    <div class="userScheduleContent">
        <div class="upcomingWorkouts">
            <h1>Upcoming</h1>
            <%let count = 0 %>
            <% workouts.forEach(workout => {  %>
            <% if(count < 6) { %>
            <%count++ %>
            <%if(workout.status === false) { %>
            <div class="singleWorkouts">
                <div class="date">
                    <h3><a href='/schedule/<%= workout.id%>/'><%= moment(workout.date).format("MMM Do YYYY");  %></a>
                    </h3>
                </div>
                <div class="split">
                    <h3>Split: <%= workout.split %></h3>
                </div>
            </div>
            <% }}}) %>
        </div>

        <div class="pastWorkouts">
            <h1>Completed</h1>
            <% let count2 = 0 %>
            <% workouts.forEach(workout => {  %>
            <% if(count2 < 6) { %>
            <%if(workout.status) { %>
            <div class="singleWorkouts">
                <div class="date">
                    <h3><a href='/schedule/<%= workout.id%>/'><%= moment(workout.date).format("MMM Do YYYY");  %></a>
                    </h3>
                </div>
                <div class="split">
                    <h3>Split: <%= workout.split %></h3>
                </div>

            </div>
            <% }}}) %>
        </div>
    </div>

</div>


<%- include('./partials/end') %>