<%- include('./partials/boilerplate') %>

<div class="userPage">
    <div class="userContent">
        <h1>Welcome <%= user.name %></h1>
        <div class="picCrop">
            <img class="proPic"
                src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=720&q=80">
        </div>
        <div class="userInfo">
            <ul class="infoList">
                <li>About: <%= user.about %> </li>
                <li>Birthday: <%= user.birthday %> </li>
                <li>Location: <%= user.location %></li>
                <li>Hobbies: <%= user.hobbies %> </li>
            </ul>
        </div>
    </div>
    <div class="scheduleSummary">
        <div class="upcomingWorkouts">
            <h1>Upcoming Workouts</h1>
            <% workouts.forEach(workout => {  %>
            <%if(workout.status === false) { %>
            <div class="singleWorkouts">
                <div class="date">
                    <h3><a href='/schedule/<%= workout.id%>/'><%= workout.date %></a></h3>
                </div>
                <div class="split">
                    <h3>Split: <%= workout.split %></h3>
                </div>
                <div class="status"><% if (workout.status) { %>
                    Completed
                    <% } else { %>
                    Incomplete
                    <% } %>
                </div>
            </div>
            <% }}) %>
        </div>
    </div>

    <div class="pastWorkouts">
        <h1>Past Workouts</h1>
        <% workouts.forEach(workout => {  %>
        <%if(workout.status) { %>
        <div class="singleWorkouts">
            <div class="date">
                <h3><a href='/schedule/<%= workout.id%>/'><%= workout.date %></a></h3>
            </div>
            <div class="split">
                <h3>Split: <%= workout.split %></h3>
            </div>
            <div class="status"><% if (workout.status) { %>
                Completed
                <% } else { %>
                Incomplete
                <% } %>
            </div>
        </div>
        <% }}) %>
    </div>
</div>

</div>

<%- include('./partials/end') %>